#container {
    margin-top: 90px;
    background-color: deeppink;
    height: 600px;
    width: 600px;
    background-size: contain;
    background-clip: border-box;
}

#container > div {
    z-index: 1;
}

.bkgrnd {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#btnDiv {
    padding: 15px;
    width: 390px;
    height: 150px;
    color: navajowhite;
    background-color: dodgerblue;
}
.bChoices {
    padding: 15px;
    border-radius: 50%;
}

#bTriv {
    height: 60px;
    width: 90px;
    margin-right: 15px;
    border-radius: 15%;
    font-size: 18px;
    text-align: center;
    background-color: deepskyblue;
}

#bVint {
    height: 60px;
    width: 90px;
    margin-right: 15px;
    border-radius: 15%;
    font-size: 18px;
    text-align: center;
    background-color: springgreen;
}

#bLang {
    height: 60px;
    width: 90px;
    margin-right: 15px;
    border-radius: 15%;
    font-size: 16px;
    text-align: center;
    background-color: mediumpurple;
}

#vuRandm {
    padding-left: 45px;
    background-color: tomato;s
}

.flex-container {
    display: flex;
}

.video-container {

}

.vidToPlay {
    width: 400px;
    height: 400px;
}

#bvidPlay {
    height: 40px;
    width: 70px;
    margin-right: 15px;
    border-radius: 15%;
    font-size: 16px;
    color:  dodgerblue;
    text-align: center;
    background-color: midnightblue;
}

#bvidPause {
    height: 40px;
    width: 70px;
    margin-right: 15px;
    border-radius: 15%;
    font-size: 16px;
    color:  dodgerblue;
    text-align: center;
    background-color: darkgreen;
}