
body {
    background-image: url('../images/ff2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-family: system-ui;
    color: yellow;
    
 }